<h1>TRELORA</h1>
<h3>Listing Consultation Tool</h3>

<%= form_tag "/", method: :post do |f| %>
  <%= label_tag "Member Email:" %>
  <%= text_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "Login" %>
<% end %>
