<%= render "layouts/nav" %>
<div class="logo">
  <img src="https://geekestateblog.com/wp-content/uploads/2017/03/TRELORA-Logo-.png" alt="">
</div>
<div class="container-fluid address-search">
  <%= form_tag "/address", method: :get do %>
  <div class="form-group row label justify-content-center">
    <h4><%= label_tag "Pricing Location Address" %></h4>
  </div>
  <div class="form-group row input justify-content-center">
    <%= select_tag :address, options_from_collection_for_select(@addresses, "value", "name"), class: "form-control" %>
  </div>
  <div class="row justify-content-center">
    <%= submit_tag "Find Location", class: "btn" %>
  </div>
  <% end %>
</div>
<script>
  $("#nav-find").toggleClass("active").css("background-color", "#97c93d")
  $("#nav-prepare").toggleClass("disabled").removeAttr('href')
  $("#nav-collect").toggleClass("disabled").removeAttr('href')
</script>
