<%= render "layouts/nav" %>

<div class="container-fluid">
  <h4 class="address-title"><%= @address_facade.address %></h4>
  <div class="address-window">
    <div class="row">
      <div class="col-4">
        Name:
      </div>
      <div class="col-8">
        <%= @address_facade.client_name %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Email:
      </div>
      <div class="col-8">
        <a href="mailto:<%=@address_facade.client_email %>"><%= @address_facade.client_email %></a>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Phone:
      </div>
      <div class="col-8">
        <a href="tel:<%= @address_facade.client_phone %>"><%= @address_facade.client_phone %></a>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Map:
      </div>
      <div class="col-8">
        <a target="_blank" href="https://www.google.com/maps/place/<%= @address_facade.coordinates %>"><%= image_tag(@address_facade.location) %></a>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Opted in:
      </div>
      <div class="col-8">
        <%= @address_facade.opted_in %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Found us:
      </div>
      <div class="col-8">
        <%= @address_facade.found_us %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Estimate:
      </div>
      <div class="col-8">
        <a target="_blank" href="http://www.zillow.com/homes/<%= @address_facade.zillow_address %>">Zillow</a>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-4">
            Zestimate:
          </div>
          <div class="col-8">
            $<%= number_with_delimiter(@address_facade.zestimate, delimiter: ',') %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-4">
            Low:
          </div>
          <div class="col-8">
            $<%= number_with_delimiter(@address_facade.zillow_low, delimiter: ',') %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-4">
            High:
          </div>
          <div class="col-8">
            $<%= number_with_delimiter(@address_facade.zillow_high, delimiter: ',') %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-8">
        Home Junction
      </div>
    </div>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-4">
            Low:
          </div>
          <div class="col-8">
            $<%= number_with_delimiter(@address_facade.home_junction_low, delimiter: ',') %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-4">
            High:
          </div>
          <div class="col-8">
            $<%= number_with_delimiter(@address_facade.home_junction_high, delimiter: ',') %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-4">
            Average:
          </div>
          <div class="col-8">
            $<%= number_with_delimiter(@address_facade.regional_average, delimiter: ',') %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4">
        Enthusiasm:
      </div>
      <div class="col-8">
        <%= @address_facade.enthusiasm%>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Timing:
      </div>
      <div class="col-8">
        <%= @address_facade.timing %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Adopter:
      </div>
      <div class="col-8">
        <%= @address_facade.adopter_type %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Updates:
      </div>
      <div class="col-8">
        Exterior: <%= @address_facade.exterior_updates%>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
      </div>
    </div>
    <div class="col-8">
      <%= @address_facade.interior_updates %>
    </div>
    <div class="row">
      <div class="col-4">
        Stage:
      </div>
      <div class="col-8">
        <%= @address_facade.stage %>
      </div>
    </div>
    Retainer: $500
  </div>
</div>


<script>
  $("#nav-find").removeClass("active")
  $("#nav-prepare").removeClass("disabled").addClass("active").css("background-color", "#97c93d")
  $("#nav-collect").removeClass("disabled")
  var height = $(window).height();
  $('.address-window').css("max-height", height * 0.8)
</script>
