<ul>
<li>Name: <%= @address_facade.client_name %></li>
<li>Email: <%= @address_facade.client_email %></li>
<li>Phone: <%= @address_facade.client_phone %></li>
<li>Map:  <%= @address_facade.location %></li>
<li>Opted in: <%= @address_facade.opted_in? %></li>
<li>Found us: <%= @address_facade.found_us %></li>
Estimate: <li>Zillow</li>
<li>Zestimate: <%= @address_facade.zestimate %></li>
<li> Low: <%= @address_facade.zillow_low %></li>
<li> High: <%= @address_facade.zillow_high %></li>
        <li>Home Junction</li>
<li>Low: <%= @address_facade.home_junction_low %></li>
<li>High: <%= @address_facade.home_junction_high %></li>
<li>Regional Avg: <%= @address_facade.regional_average %></li>
<li>Enthusiasm: <%= @address_facade.enthusiasm%></li>
<li>Timing: <%= @address_facade.timing %></li>
<li>Adopter type: <%= @address_facade.adopter_type %></li>
<li>Updates: <%= @address_facade.updates%></li>
<li>Stage: <%= @address_facade.stage %></li>
<li>Retainer: </li>
</ul>
